
@{
    ViewBag.Title = "CancelarAquecimento";
}

<h2>Micro-ondas na Web</h2>

<table style="width: 100%; height: 50vh; border: none;">
    <tr>
        <td align="center" valign="middle">
            <form method="post">
                <div class="form-group">
                    <label for="Tempo" class="control-label">Tempo:</label>
                    <input id="Tempo" name="Tempo" value="@(ViewBag.TempoInput)" onclick="setCurrentInput('Tempo')"> 
                </div>
                <div class="form-group">
                    <label for="Potencia" class="control-label">Potência:</label>
                    <input id="Potencia" name="Potencia" value="@(ViewBag.Potencia)" onclick="setCurrentInput('Potencia')"> 
                </div>
                <div style="margin-top: 20px;">
                    <table border="0" style="border-collapse: collapse; text-align: center;">
                        <tr>
                            <td><button type="button" class="btn btn-toolbar" onclick="appendValue(1)">1</button></td>
                            <td><button type="button" class="btn btn-toolbar" onclick="appendValue(2)">2</button></td>
                            <td><button type="button" class="btn btn-toolbar" onclick="appendValue(3)">3</button></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-toolbar" onclick="appendValue(4)">4</button></td>
                            <td><button type="button" class="btn btn-toolbar" onclick="appendValue(5)">5</button></td>
                            <td><button type="button" class="btn btn-toolbar" onclick="appendValue(6)">6</button></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-toolbar" onclick="appendValue(7)">7</button></td>
                            <td><button type="button" class="btn btn-toolbar" onclick="appendValue(8)">8</button></td>
                            <td><button type="button" class="btn btn-toolbar" onclick="appendValue(9)">9</button></td>
                        </tr>
                        <tr>
                            <td><button type="submit" formaction="/Microondas/CancelarAquecimento" class="btn btn-danger" onclick="pausarAquecimento()" style="margin-right: 10px;">Cancelar</button></td>
                            <td><button type="button" class="btn btn-toolbar" onclick="appendValue(0)">0</button></td>
                            <td><button type="submit" formaction="/Microondas/IniciarAquecimento" class="btn btn-success" style="margin-left: 10px;">Iniciar</button></td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-default" onclick="focusAndSetInput('Tempo')">Tempo⏳</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default" onclick="focusAndSetInput('Potencia')">Potência📶</button> 
                            </td>
                        </tr>
                    </table>
                    <div id="mensagem"></div> 
                    <input id="Mensagem" name="Mensagem" value="@(ViewBag.Mensagem)">
                    <input id="microondasParado" name="microondasParado" value="@(ViewBag.AquecimentoParado)">
                </div>
            </form>
        </td>
    </tr>
</table>

<script>
    
    let currentInput = null;
    let tempoRestante = 0; // Variável para armazenar o tempo restante
    
    let mensagemExibidaEmTela = document.getElementById("mensagem");

    // Define o campo atual e aplica o foco
    function focusAndSetInput(inputId) {
        currentInput = inputId;
        const input = document.getElementById(inputId);
        input.focus();
    }

    // Define o campo atual sem focar
    function setCurrentInput(inputId) {
        currentInput = inputId;
    }

    // Adiciona o valor clicado ao campo selecionado
    function appendValue(value) {
        if (currentInput) {
            const input = document.getElementById(currentInput);
            input.value = input.value + value; // Adiciona o valor ao final do campo
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        tempoRestante = @(ViewBag.TempoInput ?? 0); // Obtém o tempo da Controller
        let potencia = @(ViewBag.Potencia ?? 1); // Obtém a potência da Controller


        // Verifica se há tempo a ser contado
        if (tempoRestante > 0 && potencia > 0) {
            mensagemExibidaEmTela.innerHTML = "Aquecimento Parado!" 
        }
    });
</script>

